body, h1, h2, h3, p, a, img, div {
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    text-align: center;
    font-family: Arial;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 139, 0.863); /* Ajustado la opacidad a 0.6 */
    height: 90px; /* Altura de la barra de navegación */
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo {
    margin: 0 40px; /* Ajustar márgenes para que sean más uniformes */
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 18px;
    align-items: center;
    display: flex;
    padding: 30px 40px; /* Ajustado el padding */
    color: rgb(255, 255, 255);
    transition: background 0.3s; /* Transición suave para el hover */
}

.navbar a:hover {
    background: rgba(86, 86, 180, 0.377); /* Transparencia para el hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    align-items: center;
}

.nosotros {
    display: flex;
    background: url(Fondobarberia1.jpg) center;
    background-size: cover;
    min-height: 80vh !important;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-attachment: fixed;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.btn a {
    display: flex;
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

.content {
    display: flex;
    flex-direction: column;
}

.tienda {
    background: #1f1f1f;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.tiposdecorte {
    display: flex;
    background-attachment: fixed;
    background-image: url(Fondobarberia1.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

.tiposdecorte img {
    display: flex;
    padding: 20px;
    align-items: center;
    height: 200px;
}

.mapa {
    display: flex;
}

.contacto {
    display: flex;
    background: #1f1f1f;
    padding: 30px;
    align-items: center;
}

.tabla{
    display: flex;
}

.tabla .sede {
    flex-direction: column;
    border: #ffffff 2px solid;
    border-radius: 20px;
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
}

.tabla .sede a {
    color: #ffffff;
    font-size: 17px;
}

.tabla .sede:hover {
    background: #ffffff10;
}

.final {
    background-color: rgb(0, 0, 78);
}

h3 {
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
}

.content.contacto {
    margin-top: 5vh; /* Cambia el 50px por un valor dinámico */
}
